### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Archivos locales ###
application-local.yml
application-local.properties
.env
*.env.local

### Java ###
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
hs_err_pid*